:root {
  --mainYellow: #eee019;
  --subYellow: #f5b301;
  --mainOrange: #f58301;
  --mainBeige: #eeeeee;
  --mainDark: #222831;
  --mainGray: #3b3f46;
  --black: #010101;
  --test: #2d2b2f;
  --test2: #faef0f;
}
/* #dcd313 */
/* #bfb718 */
/* #a29b1c */
