:root {
  --mainYellow: #faef0f;
  --subYellow: #f5b301;
  --mainOrange: #f58301;
  --mainBeige: #eeeeee;
  --mainDark: #222831;
  --mainGray: #3b3f46;
  --black: #010101;

  --mainFont: "Lato", sans-serif;
  --LogoFont: "Ubuntu", sans-serif;
}
/* #dcd313 */
/* #bfb718 */
/* #a29b1c */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--mainGray);
  margin: 0;
  padding: 0;
  font-family: var(--mainFont);
}

header {
  display: flex;
  flex-direction: column;
}

#logo {
  background-color: var(--mainYellow);
  color: var(--black);
  font-size: 4rem;
  text-transform: uppercase;
  padding: 2.5rem 1rem 2.5rem 0.5rem;
  letter-spacing: 0.5rem;
  cursor: pointer;
  width: 100%;
  text-align: center;
  font-family: var(--LogoFont);
  font-weight: 500;
}

@media (max-width: 475px) {
  #logo {
    font-size: 3rem;
  }
}
@media (max-width: 375px) {
  #logo {
    font-size: 2.5rem;
  }
}
@media (max-width: 335px) {
  #logo {
    font-size: 2rem;
  }
}
#logo:hover {
  background-color: var(--subYellow);
  transition: all 1s ease-in-out;
}

.logo-text {
  text-decoration: none;
  color: var(--black);
}
.logo-text:hover {
  text-decoration: none;
  color: var(--black);
}
.logo-text:visited {
  text-decoration: none;
  color: var(--black);
}

/* nawigacja */

#navigation {
  background-color: var(--mainDark);
  color: var(--mainBeige);
  font-size: 1.3rem;
  padding: 1rem 1.2rem;
  margin: 0;
  width: 100%;
}

#navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#navigation li {
  float: left;
}

#navigation li a {
  display: block;
  color: var(--mainBeige);
  text-align: center;
  padding: 0.1rem 1rem;
  text-decoration: none;
}

#navigation li a:hover {
  font-weight: 700;
}

#navigation .right-nav {
  float: right;
}

#mobile-nav {
  display: none;
}

/* hamburger */
.hamburger {
  display: none;
}
.hamburger-lines {
  display: block;
  height: 26px;
  width: 32px;
  position: absolute;
  top: 17px;
  right: 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #0e2431;
}

.hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

input[type="checkbox"]:checked ~ .menu-items {
  transform: translateX(0);
}

input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg);
}

input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}

input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg);
}

input[type="checkbox"]:checked ~ .logo {
  display: none;
}

.checkbox {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  top: 20px;
  right: 20px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

@media (max-width: 691px) {
  .hamburger {
    display: block;
  }
  header {
    flex-direction: column-reverse;
  }
  #navigation {
    background-color: var(--subYellow);
    display: none;
    transition: all 0.5s ease-in-out;
    /* animation: slideIn 0.5s ease-in-out; */
  }
  #navigation li a {
    color: var(--black);
  }
  #navigation li {
    float: none;
  }
  #navigation .right-nav {
    float: none;
  }
}

/* short-posts  */

.short-posts-group {
  margin: 5rem 0;
}
.short-posts-title {
  margin: 2rem 0;
  color: var(--mainBeige);
  font-size: 2rem;
  padding: 0 2rem;
}
.short-post{
  padding-left: 3.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.post-body{
  width:78%;
  min-height:140px;
  background:#D9D9D9;
  border-radius: 10px 0 0 10px;
}
.post-title{
  width:100%;
  background:#222831;
  border-radius: 10px 0px 0 0;
  color:#D9D9D9;
  text-align:center;
  font-size: 2rem;
}
.post-image img{
  width:249px;
  height:140px;
  background:#222831;
  margin-left:auto;
  border-radius: 0 10px 10px 0;
  margin-right: 50px;
}
.post-date{
  padding-left: 3.5rem;
  color: #EEEEEE;
}
.post-text{
  height:10px;
  width:100%;
  padding: 0 0.5rem 0 0.5rem;
  position: relative;
}
.read-more{
  width:130px;
  height:25px;
  font-size: 1.2rem;
  background:#8E9299;
  border: none;
  cursor: pointer;
}
.read-more:hover{
  background:#222831;
  color:#D9D9D9;
  transition: all 0.5s ease-in-out;
}

@media (max-width: 867px){
  .short-post{
    flex-direction: column;
    padding-left: 0;
  }
  .post-body{
    width:100%;
    border-radius: 0;
  }
  .post-title{
    border-radius:  0;
  }
  .post-image img{
    display: none;
  }
  .short-posts-title{
    padding: 0;
  }
  .post-date{
    padding-left: 0rem;
  }
  .read-more{
    left:50%;
    transform: translateX(-50%);
    width:88px;
    height:20px;
    font-size: 0.8rem;
  }
}
/* footer  */

footer {
  background-color: var(--mainDark);
  color: var(--mainBeige);
  font-size: 1.3rem;
  padding: 2rem;
  margin: 0;
  width: 100%;
  height: 150px;
  bottom: 0;
}
footer .text {
  color: var(--mainBeige);
  width: 50%;
  float: left;
  text-align: center;
}
footer .text a {
  color: var(--mainOrange);
  text-decoration: none;
}
footer .text a:hover {
  color: var(--subYellow);
  transition: all 0.5s ease-in-out;
}
footer .links {
  width: 25%;
  float: left;
}
footer .links a {
  text-decoration: none;
  color: var(--mainBeige);
  position: relative;
  top: -0.3rem;
  left: 0.5rem;
}

footer .image {
  width: 30px;
  height: 30px;
}

@media (max-width: 867px) {
  footer .links {
    width: 100%;
    float: none;
    text-align: center;
    padding-bottom: 2rem;
  }
  footer .text {
    width: 100%;
    float: none;
  }
  footer{
    height: 300px;
  }
}
